<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="RollingFileAppender"
			fileName="${sys:gbanking.baseDir:-.}${sys:file.separator}logs${sys:file.separator}gbanking.log"
			filePattern="${sys:gbanking.baseDir:-.}${sys:file.separator}logs${sys:file.separator}gbanking-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d [%t] %p %c - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFileAppender" />
		</Root>
	</Loggers>
</Configuration>
